{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Enroll in Course</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>Enroll in Course</h1>
        <nav>
            <a href="{% url 'logout' %}">Logout</a>
            <a href="#" onclick="history.back()">Back</a>
        </nav>
    </header>
    <main>
        <p>Are you sure you want to enroll in {{ course.course_name }}?</p>

        <form method="post">
            {% csrf_token %}
            <button type="submit">Enroll</button>
        </form>

        <a href="{% url 'student-dash' %}">Cancel</a>
    </main>
</body>
</html>
