{% extends 'base.html' %}
{% block content %}
<h1>Teacher Dashboard - {{ user.username }}</h1>
{% for course in courses %}
<div class="card mb-3">
    <div class="card-body">
        <h5>{{ course.course_name }}</h5>
        <h6>Students:</h6>
        <ul>
            {% for student in course.students.all %}
            <li>{{ student.username }}</li>
            {% empty %}
            <li>No students enrolled</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% empty %}
<p>No courses assigned yet.</p>
{% endfor %}
{% endblock %}
